@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: 142.8 0% 95%;
	--foreground: 142.8 0% 10%;
	--card: 142.8 0% 90%;
	--card-foreground: 142.8 0% 15%;
	--popover: 142.8 0% 95%;
	--popover-foreground: 142.8 95% 10%;
	--primary: 142.8 64.2% 24.1%;
	--primary-foreground: 0 0% 100%;
	--secondary: 142.8 10% 70%;
	--secondary-foreground: 0 0% 0%;
	--muted: 104.80000000000001 10% 85%;
	--muted-foreground: 142.8 0% 40%;
	--accent: 104.80000000000001 10% 80%;
	--accent-foreground: 142.8 0% 15%;
	--destructive: 0 50% 45%;
	--destructive-foreground: 142.8 0% 90%;
	--border: 142.8 20% 50%;
	--input: 142.8 20% 45%;
	--ring: 142.8 64.2% 24.1%;
	--radius: 0.5rem;
}
.dark {
	--background: 142.8 10% 10%;
	--foreground: 142.8 0% 90%;
	--card: 142.8 0% 10%;
	--card-foreground: 142.8 0% 90%;
	--popover: 142.8 10% 5%;
	--popover-foreground: 142.8 0% 90%;
	--primary: 142.8 64.2% 24.1%;
	--primary-foreground: 0 0% 100%;
	--secondary: 142.8 10% 20%;
	--secondary-foreground: 0 0% 100%;
	--muted: 104.80000000000001 10% 25%;
	--muted-foreground: 142.8 0% 60%;
	--accent: 104.80000000000001 10% 25%;
	--accent-foreground: 142.8 0% 90%;
	--destructive: 0 50% 45%;
	--destructive-foreground: 142.8 0% 90%;
	--border: 142.8 20% 45%;
	--input: 142.8 20% 45%;
	--ring: 142.8 64.2% 24.1%;
	--radius: 0.5rem;
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer base {
	:root {
		--sidebar-background: 150 30% 96%;
		--sidebar-foreground: 150 30% 20%;
		--sidebar-primary: 150 30% 15%;
		--sidebar-primary-foreground: 150 30% 96%;
		--sidebar-accent: 150 30% 92%;
		--sidebar-accent-foreground: 150 30% 15%;
		--sidebar-border: 150 30% 85%;
		--sidebar-ring: 150 60% 40%;
	}

	.dark {
		--sidebar-background: 150 30% 15%;
		--sidebar-foreground: 150 30% 96%;
		--sidebar-primary: 150 30% 96%;
		--sidebar-primary-foreground: 150 30% 15%;
		--sidebar-accent: 150 30% 20%;
		--sidebar-accent-foreground: 150 30% 96%;
		--sidebar-border: 150 30% 20%;
		--sidebar-ring: 150 60% 40%;
	}
}
